<%- include('includes/head') %>
<body id="dashboard">
    <div class="container-fluid">
        <%- include('includes/topnav') %>
        <%- include('includes/sidebar') %>
        <div class="content-page px-3">
            <%- include(body) %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- include('includes/footer') %>
</body>
</html>